{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1 class="text-4xl">Hello {{ user.username }}! ✅</h1>




</div>
{% endblock %}
