{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Connecte toi !</h1>
    <a href="{{ path('app_login') }}">ici </a>


    <h1>Enregistre toi !</h1>
    <a href="{{ path('app_register') }}">ici </a>

{% endblock %}

